.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}

.count {
  color: #444 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  margin-bottom: 30px;
}

.empty {
  color: #444 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  margin-bottom: 30px;
}
